.btn-flat {
  color: rgb(43, 43, 43);
  padding: 8px 24px;
  border-radius: 4px;
  background: #dfd760;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: rgb(43, 43, 43);
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}
