.navbar {
  justify-content: space-between;
  background: rgb(49, 49, 49);
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.logo {
  width: 65px;
  padding: 0.4rem;
}

.nav-link {
  color: #fff !important;
  font-weight: 600 !important;
}
